# My macro list

######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT. See docs/Slicers.md for more information on using these macros.

[include include/start_purge_end_cancel.cfg]


[include include/probe.cfg]
[include include/prompts.cfg]
[include include/spool.cfg]


####################################
## Bed Mesh Calibration
####################################
# Bed Mesh Calibrate G29
[include include/bed_mesh.cfg]


####################################
## Calibration (Z-offset, PID, input shaping, pressure advance)
####################################
[include include/calibration.cfg]


[include include/filament_change.cfg]


[include include/exclude_object.cfg]


[include include/display_text.cfg]
